*{
    margin: 0;
    padding: 0;
    font-family: 'pop', sans-serif;
    box-sizing: border-box;

}
body{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(pexels-adrien-olichon-1257089-2387532.jpg);
    background-size: cover;
background-position: center;
    background-attachment: fixed;
        background-color: #cccccc; 
        color:#fff;
}
.header{
    height: 100vh;
    display: flex;
    


}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}
.header-text{
    font-size-adjust: 60px;
    margin-top: 20px;
}
.header text h1{
    font-size: 60px;
    margin-top:20px;
}
.header-text h1 span{
    color: #ff3f3f;
}
.header-text p{
    font-size: 20px;
    margin-top: 10px;
}
.header-text p span{
    color: #ff3f3f;
}
.row{ 
    font-size-adjust:60px;
    margin-top:20px;
}
.row h2{
    font-size: 60px;
    margin-top:20px;
}
.row h4 span{
    color: #ff3f3f;
}
.certificate-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container h2{
    font-size:60px;
    margin-top:20px;    
}
    
.certificate-item img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-top: 20px;
}
.container h2 span{
    color: #fff;
}
.container h3 span{
    color: #ff3f3f;
}
.container h3{
    font-size: 30px;
    margin-top: 20px;
}
.containerli{
    font-size: 20px;
    margin-top: 10px;
}
.container li span{
    color: #ff3f3f;
}   
.container form{
    width: 100%;
}
.container form input, .container form textarea{
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 0;
    outline: none;
    background:#262626;
    color: #fff;    
    font-size:18px;
    border-radius: 6px;
}